<%= form_for(@account) do |f| %>
  <fieldset>
    <%= f.twitter_text_field :name, :input => [ :class => 'xxlarge' ] %>
  </fieldset>
  <div class="actions">
    <%= f.submit "Update Account", class: 'btn primary' %>
  </div>
<% end %>
